*{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

.navFindastore
{
    color: rgb(186, 39, 39); 
    font-weight:100px;
}

.btn-outline-dark,.btn-dark
{
    
    width: 120px;
    border-radius: 29px !important;
   
}

.location
{
    font-size: 23px;
    color: black;
}

a
{
    color:black !important;
   font-weight: 700;
    font-size: 14px;
}


.secBelownavbar
{

 
  justify-content: center;
  
    height: 25vh;
}
.secBelownavbarR1
{
    background-color:#cfded9;
    width: 100%;
    height: 100%;
}


.mainBoxPart1{
    background-color: #d4e9e2;
}

.mainBox
{
    height: 91vh;
    width: 100%;
  
      
}

.mainBoxpart2{

    background-color:#8b323e;

}
.sect4{
    height: 50vh;
    margin-bottom: 100px;

}

.textBelowheading{
    font-size: x-large;
}

.nitroSmooth
{
    margin-top: 40%;

}
.wrapYourday
{
    margin-top: 40%;
    

}

.socialmedias{
    font-size: 30px;
}